:root {
    --light-green: rgb(96, 227, 195);
}

body {
    background-color: var(--light-green);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hello-header {
    text-align: center;
}

.lists-window {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border: 5px solid;
    border-top-left-radius: 10px;
    width: 100%;
}


@media only screen and (max-width: 800px) {
    .lists-window {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 600px) {
    .lists-window {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.list-container {
    margin: 1rem;
    padding: 0.5rem;
    height: 8rem;
    min-width: min-content;
    border: 2px solid;
    border-radius: 5px;
}

.list-title {
    border: 0;
    width: 100%;
    text-align: center;
    background-color: inherit;
}

.top-right {
    display: none;
    position: relative;
    top: -2.5vh;
    right: -0.5rem;
    float: right;
}

.list-title:focus {
    text-decoration: underline blue;
}

.list {
    padding: 0;
}

.list-item {
    text-decoration: none;
    list-style-type: none;
}

.urgent-priority {
    color: red;
}

.high-priority {
    color: yellow;
}

.low-priority {
    color: blue;
}

.scrollable {
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar, .scrollable::-webkit-scrollbar-corner {
    background-color: var(--light-green);
    width: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    
}


.add-list-div {
    display: flex;
}

#addListBtn {
    display: flex;
    width: 5rem;
    height: 5rem;
    margin: auto auto;
    cursor: pointer;
}

.splitscreen {
    display: flex;
    height: 50vh;
}

.add-task-window {
    margin-left: 0;
    border: 5px solid;
    border-left: 0;
    border-top-right-radius: 10px;
    padding: 1rem;
}

.new-task-header {
    margin: 0;
}

.add-task-window > form {
    line-height: 5vh;
}

button {
    cursor: pointer;
    padding: 6px 12px;
    font-size: clamp(0.8rem, 1vw, 1rem);
    color: white;
    border-radius: 30px;
    background: rgb(71, 61, 237);
    background: linear-gradient(90deg, rgba(71, 61, 237, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.reminders-window {
    border: 5px solid;
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}

.checkbox {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
}

